<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Submittals menu items under unified Patriot Signs menu -->
    
    <!-- Shop Drawings -->
    <menuitem id="menu_shop_drawings"
              name="Shop Drawings"
              parent="patriot_base.menu_submittals"
              action="ps_submittal_action"
              sequence="10"/>

    <!-- RFIs -->
    <menuitem id="menu_rfis"
              name="RFIs"
              parent="patriot_base.menu_submittals"
              action="ps_rfi_action"
              sequence="20"/>

</odoo>
