<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Billing menu items under unified Patriot Signs menu -->
    
    <!-- Pay Applications -->
    <menuitem id="menu_pay_applications"
              name="Pay Applications"
              parent="patriot_base.menu_billing"
              action="ps_pay_application_action"
              sequence="10"/>

    <!-- Schedule of Values -->
    <menuitem id="menu_sov"
              name="Schedule of Values"
              parent="patriot_base.menu_billing"
              action="ps_sov_action"
              sequence="20"/>

</odoo>
