<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Field Service root menu -->
    <menuitem id="menu_field_service_root"
              name="Field Service"
              web_icon="patriot_field_service,static/description/icon.png"
              sequence="25"/>

    <menuitem id="menu_installations"
              name="Installations"
              parent="menu_field_service_root"
              action="ps_installation_action"
              sequence="10"/>

    <menuitem id="menu_field_config"
              name="Configuration"
              parent="menu_field_service_root"
              sequence="90"/>

    <menuitem id="menu_crews"
              name="Crews"
              parent="menu_field_config"
              action="ps_crew_action"
              sequence="10"/>

</odoo>
