<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Field Service / Installation menu items under unified Patriot Signs menu -->
    
    <!-- Scheduled Installations -->
    <menuitem id="menu_installations"
              name="Scheduled"
              parent="patriot_base.menu_installation"
              action="ps_installation_action"
              sequence="10"/>

    <!-- Crews -->
    <menuitem id="menu_crews"
              name="Crews"
              parent="patriot_base.menu_installation"
              action="ps_crew_action"
              sequence="20"/>

</odoo>
