openapi: 3.1.0
info:
  title: Patriot Odoo GPT Connector
  description: Generic API to interact with Odoo v19 Models via ChatGPT.
  version: 1.0.0
servers:
  - url: https://patriotsigns.odoo.com
    description: Production Odoo Server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: "Odoo API Key (Custom Header)"

  schemas:
    Record:
      type: object
      description: A generic Odoo record dictionary.
      properties:
        id:
          type: integer
          description: Database ID of the record
        display_name:
          type: string
          description: Display name of the record
      additionalProperties: true
      example: {"id": 1, "display_name": "Example Record", "other_field": "value"}
    
    RecordList:
      type: array
      items:
        $ref: '#/components/schemas/Record'

    CreatePayload:
      type: object
      description: Fields to set on the record.
      properties:
        name:
          type: string
          description: Name or description of the record (generic fallback)
      additionalProperties: true
      example: {"name": "New Record", "active": true}

    CreateResult:
      type: object
      properties:
        id:
          type: integer
        display_name:
          type: string
        result:
          type: string

security:
  - ApiKeyAuth: []

paths:
  /api/gpt/{model}:
    get:
      summary: Search Records
      operationId: searchRecords
      parameters:
        - name: model
          in: path
          required: true
          schema:
            type: string
          description: Technical name of the model (e.g., res.partner)
        - name: domain
          in: query
          schema:
            type: string
            default: "[]"
          description: Odoo domain as a JSON string list
        - name: fields
          in: query
          schema:
            type: string
            default: "[]"
          description: List of fields to return
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
          description: Max number of records to return
        - name: order
          in: query
          schema:
            type: string
          description: Sort order
      responses:
        '200':
          description: List of records
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecordList'
        '401':
          description: Unauthorized
        '404':
          description: Model not found

    post:
      summary: Create Record
      operationId: createRecord
      parameters:
        - name: model
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayload'
      responses:
        '200':
          description: Record created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateResult'

  /api/gpt/{model}/{id}:
    get:
      summary: Read One Record
      operationId: readRecord
      parameters:
        - name: model
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: fields
          in: query
          schema:
            type: string
            default: "[]"
      responses:
        '200':
          description: Record data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'

    put:
      summary: Update Record
      operationId: updateRecord
      parameters:
        - name: model
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePayload'
      responses:
        '200':
          description: Update successful
          content:
             application/json:
               schema:
                 $ref: '#/components/schemas/CreateResult'

  /api/gpt/schema/{model}:
    get:
      summary: Get Complete Model Schema and Data
      description: Returns model introspection (fields, automations, server actions, rules, views) plus optional records export with include_data=1.
      operationId: getModelSchema
      parameters:
        - name: model
          in: path
          required: true
          description: Odoo model name (e.g., res.partner, sale.order)
          schema:
            type: string
        - name: include_data
          in: query
          required: false
          description: Set to "1" to include all records in response
          schema:
            type: string
            enum: ["0", "1"]
        - name: include_arch
          in: query
          required: false
          description: Set to "1" to include full view XML architecture
          schema:
            type: string
            enum: ["0", "1"]
        - name: limit
          in: query
          required: false
          description: Max number of records to return (when include_data=1)
          schema:
            type: integer
            default: 1000
        - name: domain
          in: query
          required: false
          description: JSON-encoded domain filter for records
          schema:
            type: string
      responses:
        '200':
          description: Complete model schema and optional data
          content:
            application/json:
              schema:
                type: object
                properties:
                  model:
                    type: string
                  model_info:
                    type: object
                  fields:
                    type: object
                  automated_actions:
                    type: array
                  server_actions:
                    type: array
                  record_rules:
                    type: array
                  views:
                    type: array
                  records:
                    type: array
                    description: Only present if include_data=1
                  records_count:
                    type: integer
                  records_total:
                    type: integer
